@font-face {
  font-family: 'Google-font-sufer';
  src: url('/fonts/OriginalSurfer-Regular.ttf');
}

body * {
  outline: 1px solid lightgrey;
}

.custom-font {
  font-family: 'Google-font-sufer', sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: 10px;
  text-decoration: underline;
  text-transform: uppercase;
  color: red;
  text-shadow: 2px 2px black, -2px -2px rgb(15, 12, 197);
}

.inset {
  text-transform: initial;
}