@import "./partials/article/article.scss";
@import "./partials/team-card/team-card.scss";
@import "./sprites.scss";

body * {
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  padding: 26px 19px 0 19px;
  margin: 0 auto;
}

header {
  width: 33%;
  margin: 0 auto;
  height: 49px;
  background-color: #358765;
}

.two-columns {
  display: flex;
}

.two-columns__item {
  width: 50%;
  padding: 34px;
  box-sizing: border-box;
}
.two-columns__content {
  height: 200px;
}
.bc-green {
  background-color: green;
}

.three-columns {
  font-size: 0;
  margin-bottom: 34px;
}

.three-columns__item {
  display: inline-block;
  font-size: 1rem;
  width: 33.3%;
}

.three-columns__content {
  height: 150px;
}

.bc-red {
  background-color: red;
}

.bc-blue {
  background-color: blue;
}

.bc-yellow {
  background-color: yellow;
}

footer {
  height: 120px;
  background-color: lightgrey;
}

.background-image {
  background: url('/img/rabbit.jpg') 50% 50% no-repeat;
  background-size: contain;
  color: white;
  border-radius: 50%;
  height: 389px;
}