.sprites {
    background: url('/img/sprites.png');
    width: 225px; height: 225px;
}

.bg-download_green {
    background-position: -542px -10px;
}

.bg-download {
    background-position: -542px -255px;
}

.bg-search {
    width: 512px; height: 512px;
    background-position: -10px -10px;
}